--
-- PostgreSQL database dump
--

-- Dumped from database version 15.8
-- Dumped by pg_dump version 15.8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: my_data; Type: TABLE; Schema: public; Owner: Anomdet
--

CREATE TABLE public.my_data (
    "timestamp" bigint,
    load_1m numeric,
    load_5m numeric,
    load_15m numeric,
    sys_mem_swap_total bigint,
    sys_mem_swap_free bigint,
    sys_mem_free bigint,
    sys_mem_cache bigint,
    sys_mem_buffered bigint,
    sys_mem_available bigint,
    sys_mem_total bigint,
    sys_fork_rate numeric,
    sys_interrupt_rate numeric,
    sys_context_switch_rate numeric,
    sys_thermal numeric,
    disk_io_time numeric,
    disk_bytes_read numeric,
    disk_bytes_written numeric,
    disk_io_read numeric,
    disk_io_write numeric,
    cpu_iowait numeric,
    cpu_system numeric,
    cpu_user numeric,
    server_up bigint
);


ALTER TABLE public.my_data OWNER TO "Anomdet";

--
-- Data for Name: my_data; Type: TABLE DATA; Schema: public; Owner: Anomdet
--



--
-- PostgreSQL database dump complete
--

